extends layout

block content
  h1= title
  p Here is a list of my favourite foods
  ul
    each food in foods
      li
        a(href=`/foods/${food._id}`)= food.name + " - " + food.type
  p
    a(href=`/new`) Create new food
